.toggle{
    position:absolute;
    top:25px; left:20px;
    font-size:26px;
    outline:0;
    border:0;
    cursor:pointer;
    background-color:transparent;
    display:none;
    color:#f1f1f1;
}

header{
    width:100%;
    height:80px;
    background-color:#111;
    color:#f1f1f1;
    position:fixed;
    z-index:99999;
    box-shadow:0 5px 3px rgba(0,0,0,0.2);
    line-height:80px;
    font-weight:400;
}
.wrap{
    display:flex;
    justify-content:space-around;
}
.logo{margin-top:24px;}
.logo img{display:block;}
.nav{
    display:flex;
    font-size:15px;
    text-align:center;
    cursor:pointer;
}
.nav>li{margin:0 10px;}
.nav>li:first-child{margin-left:0;}
.nav>li:last-child{margin-right:0;}
.gnb{
    position:relative;}
.sub{
    width:150px;
    position:absolute;
    left:-40px;
    background-color:#111;
    font-size:13px;
    line-height:60px;
    z-index:99999;
    display:none;
    overflow:hidden;
}
.sub>li>a{
    border-bottom:1px solid #fff;
    padding:8px;
}
.sub>li:hover>a{
    border:1px solid #fff;
}

.nav>li:hover>a{
    text-decoration:underline;
    text-underline-offset:6px;
    text-decoration-thickness:2px;
}

.popup{
    font-size:13px;
    font-weight:600;
    border:0;
    outline:0;
    border:1px solid #f1f1f1;
    border-radius:5px;
    padding:5px 10px;
    margin-right:5px;
    cursor:pointer;
    background-color:transparent;
    color:#f1f1f1;
}
.play{
    font-size:13px;
    font-weight:600;
    border:1px solid #f1f1f1;
    border-radius:5px;
    padding:5px 10px;
}
.play:hover{opacity:0.8;}

.modal{
    display:none;
    position:fixed;
    left:0; top:0;
    width:100%; height:100%;
    z-index: 1;
    overflow:auto;
    background-color:rgba(0,0,0,0.9);
    z-index:99999999;
}
.modal-content{
    background-color:#333;
    margin:5px auto;
    border:1px solid #f1f1f1;
    width:600px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.close{
    position:absolute;
    right:20px;
    top:-5px;
    color:#f1f1f1;
    font-size:35px;
    font-weight: bold;
    cursor:pointer;
}
.close:hover{
    color:#04aa6d;
}
.container{
    color:#f1f1f1;
    padding:20px;
}
.container::after{
    content:"";
    display:block;
    clear:both;
}
.container>label:nth-child(6){
    cursor:pointer;
    vertical-align:middle;
}
label{font-size:14px; color:#f1f1f1;}
input[type=text],
input[type=password]{
    width:100%;
    padding:12px 20px;
    margin:0px;
    box-sizing:border-box;
    border:0;
    outline:0;
    font-size:14px;
}
button[type=submit]{
    background-color:#04aa6d;
    color:#fff;
    padding:14px 20px;
    width:100%;
    border:none;
    cursor:pointer;
    letter-spacing:1px;
}
button:hover{
    opacity:0.8;
}
.joinbtn{
    padding:0 10px;
    line-height:40px;
    text-align:center;
    text-decoration:underline;
    text-underline-offset:2px;
    border:none;
    cursor:pointer;
    color:#fff;
    font-size:13px;
    float:left;
}
.cancelbtn{
    padding:8px 14px;
    background-color:#f44336;
    border:none;
    cursor:pointer;
    color:#fff;
    float:right;
    letter-spacing:1px;
    margin-top:5px;
}
/*=======================*/
#main{
    width:100%;
    height:100vh;
    background:url(../images/bg01.jpg) center;
    background-size:cover;
}
/*====================*/
#contents{
    width:100%;
    color:#333;
    padding-bottom:40px;
}
.news{
    max-width:1000px;
    margin:auto;
    padding:60px 20px 20px 20px;
    display:flex;
    justify-content:space-between;
}
.news>a{font-weight:600;}
.newsWrap{
    max-width:1000px;
    margin:auto;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.newsBox{
    width:48%;
    padding:20px;
    border:1px solid #ccc;
    margin:auto;
    margin-bottom:20px;
}
.newsBox img{
    display:block;
    width:100%;
}
.newsBox>a:nth-child(2){
    display:block;
    font-size:15px;
    font-weight:600;
    margin:10px 0;
}
.newsBox>a:nth-child(2)>span{
    font-size:14px;
    font-weight:500;
}
.newsBox>p{font-size:13px; font-weight:500;}
/*====================*/
#contents2{
    width:100%;
    margin:auto;
    overflow:hidden;
    position:relative;
}
.textWrap{
    width:100%;
    position:absolute;
    top:100px; left:50%;
    transform:translateX(-50%);
    color:#ccc;
}
.text{
    width:60%;
    margin:auto;
    border-bottom:2px solid #f1f1f1;
    padding-bottom:10px;
}
.text>h3{padding:0 10px;}
.text>h3>span{
    float:right;
    font-size:14px;
    font-weight:500;
}
.textWrap img{
    width:60%;
    display:block;
    margin:auto;
    padding:40px 0 60px 0;
}
.text2{
    width:60%;
    margin:auto;
    padding-top:40px;
    display:flex;
    justify-content:space-between;
    border-bottom:2px solid #f1f1f1;
    padding:40px 0px 10px 0px;
    margin-bottom:100px;
}
.text2>h3{padding:0 10px;}
.text2>a{
    padding:0 10px;
    font-size:16px;
    font-weight:600;
}
/*====================*/
/*브라우저의 넓이가 980px 이하 일 때*/
@media screen and (max-width:980px){
    header>.toggle{display:block;}
    .wrap{
        justify-content:space-between;
    }
    .logo{
        position:relative;
        left:50%;
        transform:translateX(-50%);
    }
    .nav{
        width:100%;
        flex-direction:column;
        align-items:flex-start;
        background-color:#111;
        z-index:999999;
        position:absolute;
        left:0;
        top:80px;
        cursor:pointer;
        line-height:60px;
        padding:20px 0;
    }
    .nav>li{
        width:100%;
        margin:0;
        margin:auto;
    }
    .gnb{
        width:100%;
        top:0; left:0;
    }
    .sub{
        position:relative;
        width:100%;
        left:0;
    }
    .login{margin-right:20px;}
    .login>.play{display:none;}
    .popup{margin-right:0;}

    .modal-content{width:550px;}

    #main{
        background:url(../images/bg02.jpg) center;
        background-size:cover;
    }

    #contents2{height:853px;}
    .text{
        width:80%;
    }
    .text>h3{font-size:16px;}
    .text>h3>span{
        font-size:13px;
    }
    .textWrap img{
        width:80%;
    }
    .text2{
        width:80%;
    }
    .text2>h3{font-size:16px;}
    .text2>a{font-size:13px;}
}
/*==================*/
/*브라우저의 넓이가 768px 이하 일 때*/
@media screen and (max-width:768px){
    .modal-content{width:430px;}
    .news{
        max-width:650px;
        font-size:14px;
        padding:60px 30px 20px 30px;
    }
    .newsBox{
        width:80%;
    }
    .newsBox>a:nth-child(2){
        font-size:14px;
    }
    .newsBox>a:nth-child(2)>span{
        font-size:13px;
    }
    .newsBox>p{font-size:12px;}

    #contents2{height:757px;}
}
/*===============*/
/*브라우저의 넓이가 480px 이하 일 때*/
@media screen and (max-width:480px){
    .logo{margin-top:25px;}
    .logo img{width:150px;}
    .popup{
        font-size:11px;
        padding:4px 6px;
    }
    .modal-content{width:310px;}
    .close{font-size:30px; top:-10px;}

    #main{
        background:url(../images/bg03.jpg) center;
        background-size:cover;
    }
    
    .news{padding:60px 20px 20px 20px;}
    .newsBox{
        width:90%;
    }

    #contents2{height:620px;}
    .text>h3{font-size:14px;}
    .text>h3>span{
        font-size:12px;
    }
    .text2>h3{font-size:14px;}
    .text2>a{font-size:12px;}
}
/*브라우저의 넓이가 332px 이하 일 때*/
@media screen and (max-width:332px){
    .logo{margin-top:28px;}
    .logo img{width:120px;}
    .popup{
        border:0;
        border-radius:0;
        border-bottom:2px solid #f1f1f1;
        padding:0;
        padding-bottom:2px;
    }
    .popup>i{display:none;}
    .modal-content{width:230px;}
    .container{
        padding:14px;
    }
    label{font-size:12px;}
    input[type=text],
    input[type=password]{font-size:12px;}
    .close{right:14px;}
    .cancelbtn{font-size:12px;}
    .joinbtn{font-size:11px;}

    .news{font-size:13px;}
    .newsBox>a:nth-child(2){
        font-size:12px;
    }
    .newsBox>a:nth-child(2)>span{
        font-size:11px;
    }
    .newsBox>p{font-size:10px;}

    #contents2{height:547px;}
    .text{width:85%;}
    .text>h3{font-size:12px; padding:0 4px;}
    .text>h3>span{
        font-size:10px;
    }
    .text2{width:85%;}
    .text2>h3{font-size:12px; padding:0 4px;}
    .text2>a{font-size:10px;}
}